# Dependencies
node_modules/
qr-viewer/node_modules/

# Production builds
dist/
www/

# Logs & temp files
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db

# Executables & App Packages
*.apk
*.exe
*.pdf
C:/PPSBuild/

# Environment files
.env
.env.local
